*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    background: #FF6060;
}

.calculator {
    display: grid;
    place-items: center;
    width: 500px;
    margin: 10% auto;
    background: whitesmoke;
    padding: 10px 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form div {
    width: 100%;
    padding: 5px 0px;
}

form div input {
    width: 150px;
}
